<DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <!-- This allows nav.ejs to be included in the nav bar on your webpage. -->
  <%- include('./partials/nav') %>
  <!-- using the msg variable from server.js will render the message we typed -->
<h1>Home Page</h1>
  <ul>
    <!-- create a loop to render the RESTAURANT object from server.js -->
      <h2><%= RESTAURANT.name %></h2>
      <p><%= RESTAURANT.address %></p>
      <p><%= RESTAURANT.phone %></p>

  </ul>
</body>
</html> 
